
$sidebarColor: #c2c7d0;
$sideBarSize: 16px;
$sideBarBg: #343a40;
$sideBarHoverColor: #484F53;

$mainColor: #5c5e60;

$mainBorderColor: #DEE2E6;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.app-container{
    width:  100vw;
    height: 100vh;

    display: flex;
    .app__left-side{
        transition: 0.3s all;
        &.close{
            max-width: 55px;
            .app__side-bar-link{
                span{
                    opacity: 0 !important;
                }
            }
        }
        width: 100%;
        max-width: 240px;
        white-space: nowrap;
        overflow: hidden;
        .app__drawer{
            background-color: $sideBarBg;
            width: 100%;
            height: 100%;
            .app__side-bar{
                width: 100%;
                list-style: none;
            }
            .sub-side-bar{
                background-color: $sideBarHoverColor;
                overflow: hidden;
                li{
                    a{
                        padding: 0px 12px 0px 22px;
                    }
                }
                
                &.close{
                    max-height: 0px;
                }
                transition: 0.3s all;
            }
            .app__side-bar-link{
                text-decoration: none;
                color: $sidebarColor;
                font-size: $sideBarSize;
                display: block;
                height: 44px;
                line-height: 44px;
                padding: 0px 18px;
                position: relative;
                i{
                    margin-right: 18px;
                }
                span {
                    position: absolute;
                    right: 0px;
                    opacity: 1;
                    &.open i{
                        transform: rotate(90deg);
                        transform-origin: 50% 50%;
                    }
                }
                overflow: hidden;
            }
            .app__side-bar-link:hover{
                background-color: $sideBarHoverColor;
            }
        }
    }
    .app__right-side{
        flex: 1;
        .app__header{
            width: 100%;
            height: 48px;
            background-color: #FEFFFE;
            border-bottom: 1px solid $mainBorderColor;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 12px;
            .btn-toogle-side-bar{
                outline: none;
                border: none;
                background-color: transparent;
                color: $mainColor;
                font-size: 22px;
                cursor: pointer;
            }
            .app__header-right{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                color: $mainColor;

                .user-info{
                    display: flex;
                    .user-icon{
                        margin: 0px 6px;
                        i{
                            font-size: 18px;
                            cursor: pointer;
                        }
                    }
                    .user-name{
                        font-size: 14px;
                        font-weight: 600;
                        margin: 0px 6px;
                    }
                    
                }
                .back-2-home{
                    i{
                        font-size: 18px;
                        margin: 0px 6px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .app__content{
        height: calc(100% - 48px);
        .page-content{
            padding: 8px 12px;
        
        }
        .page-container{
            overflow-y: auto;
            height: calc(100% - 46px);
        }
        .app__controlbar{
            width: 100%;
            padding: 8px 12px;
            button{
                border: none;
                outline: none;
                background-color: $sideBarBg;
                color: $sidebarColor;
                height: 30px;
                padding: 0px 18px;
                i{
                    margin-right: 6px;
                }
                border-radius: 3px;
                cursor: pointer;
                &:hover{
                    background-color: $sideBarHoverColor;
                }
                margin: 0px 4px;
            }
        }
        .page-header{
            width: 100%;
            padding: 8px 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .page-header-title{
                font-weight: 600;
            }
            .page-header-search{
                border-radius: 3px;
                overflow: hidden;
                position: relative;
                border: 1px solid #c2c7d0;
                width: 100%;
                max-width: 300px;
                input{
                    padding: 6px 8px 6px 36px;
                    outline: none;
                    border: none;
                    
                }
                button{
                    position: absolute;
                    top:0px;
                    left: 0px;
                    height: 100%;
                    width: 30px;
                    background-color: $sideBarBg;
                    border: none;
                    color: $sidebarColor;
                    cursor: pointer;
                    &:hover{
                        background-color: $sideBarHoverColor;
                    }
                }
            }
        }
    }
}