.confirm{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    .confirm__header{
        span{
            font-size: 14px;
            font-weight: 600;
        }
    }
    .confirm__control-btn{
        margin-top: 30px;
        display:flex;
        justify-content:center;
        .btn-yes, .btn-no{
            margin:  6px;
        }
    }
}